@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply font-bold;
  @apply text-center text-3xl text-pink-100;
  @apply bg-purple-500;
  @apply py-3;
}

.content-block {
  /* @apply border-4 border-indigo-500; */
  @apply bg-white;
  /* @apply mx-8  sm:mx-16 md:mx-48 lg:mx-64 xl:mx-96; /*This applies padding pased on the size of the screen, switched for a method which sets a max width depending on size*/
  @apply sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl 2xl:max-w-2xl;
  @apply my-4 mx-4 px-4 py-2;
  @apply transition delay-100 hover:scale-110 hover:border;
}

h2 {
  @apply font-semibold;
  @apply text-lg text-gray-100;
  @apply py-1 px-2;
  @apply bg-purple-500;
}

h3 {
  @apply font-semibold;
  @apply py-1;
}

img {
  @apply rounded-xl;
  @apply py-2;
}

body {
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
}

p {
  @apply py-1;
}

ul {
  @apply list-disc;
  @apply px-6;
}

.quote-block {
  @apply p-4;
}

body {
  font-family: "Roboto";
}
